@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

body {
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	color: #fff;
	background-color: #191c1f;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex: 1 1 auto;
}

[class*='__container'] {
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	max-width: 1140px; /* 1110+15+15 */
}

.button {
	background-color: #E11B19;
	border-radius: 40px;
	padding: 20px;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 125%; /* 20/16 */
	transition: background-color .3s;
}

.button:hover {
	background-color: #8b1210;
}

.button span {
	display: block;
	padding-right: 22px;
	background: url('../img/icons/arrow.svg') right no-repeat;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	z-index: 50;
}

.main-block {
	padding-top: 180px;
	padding-bottom: 180px;
	background: url('../img/main-background.jpg') center / cover no-repeat;
	position: relative;
}

.main-block::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: radial-gradient(837.78% 378.29% at 69.44% -79.86%, rgba(31, 35, 39, 0) 0%, #191C1F 47.89%, rgba(31, 35, 39, 0) 100%)
}

.main-block__container {
	position: relative;
	z-index: 2;
}

.main-block__body {
	max-width: 746px;
}

.main-block__label {
	line-height: 111.111111%; /* 20/18 */
	text-transform: uppercase;
	font-weight: 700;
}

.main-block__label:not(:last-child) {
	margin-bottom: 5px;
}

.main-block__title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 64px;
	line-height: 117.1875%; /* 75/64 */
}

.main-block__title:not(:last-child) {
	margin-bottom: 10px;
}

.main-block__text {
	font-size: 24px;
	line-height: 125%; /* 30/24 */
}

.main-block__text:not(:last-child) {
	margin-bottom: 30px;
}

.main-block_button:not(:last-child) {
	margin-bottom: 15px;
}

@media (max-width: 992px) {
	.main-block {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.main-block__title {
		font-size: 54px;
	}
}

.benefits {
	padding-top: 60px;
	padding-bottom: 60px;
}

.benefits__container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}